body {
    line-height: 0.5;
}

.principal {
  background: linear-gradient(35deg, rgb(24, 24, 121), rgb(44, 6, 44));
  width: 70%;
  height: 40vw;
  margin: auto;
  margin-top: 90px;
  border-radius: 50px;
  box-shadow: 5px 10px 8px rgb(42, 40, 40);
}

.title {
  text-align: center;
  padding: 20px;
  font-family: "Share Tech Mono", monospace;
  color: white;
  font-size: 60px;
}

.title h1 {
    text-shadow: 6px 6px rgb(255, 0, 157),
               5px 5px rgb(255, 0, 157),
               4px 4px rgb(255, 0, 157),
               3px 3px rgb(255, 0, 157),
               2px 2px rgb(255, 0, 157),
               2px 2px rgb(255, 0, 157),
               1px 1px rgb(255, 0, 157);
}

.title h2 {
    color: rgb(255, 0, 157);
    text-shadow: 6px 6px white,
               5px 5px white,
               4px 4px white,
               3px 3px white,
               2px 2px white,
               2px 2px white,
               1px 1px white;
}

.title h3  {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 50px;
}

.text { 
    height: 200px;
    position: sticky;
    border: 3px solid green; 
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }