body {

}

.principal {
    background: linear-gradient(35deg, rgb(24, 24, 121), rgb(44, 6, 44));
    width: 70%;
    height: 40vw;
    margin: auto;
    margin-top: 90px;
    border-radius: 50px;
    box-shadow: 5px 10px 8px rgb(42, 40, 40);
}

.title {
    text-align: center;
    padding: 20px;
    font-family: 'Share Tech Mono', monospace;
        color: white;
    font-size: 30px;

}